body {
    background-color: aqua;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, hsl(112, 92%, 48%), rgb(252, 19, 232));
}
input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(12, 210, 250);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: hwb(55 9% 0%);
}


input::placeholder {
    color: #3d3d3d;
}


button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: rgba(10, 2, 10, 0.957);
    font-size: 20px;
    box-shadow: inset 4px 4px 10px #0560e8f5,
        inset -8px -8px 15px #fdf405;
    cursor: pointer;
    transition: all 0.3s;
}


button:active {
    scale: 1.1;
}




.equalBtn {
    background-color: hsl(121, 97%, 53%);
    box-shadow: inset 5px 5px 5px rgba(242, 156, 28, 0.715);
}


.operator {
    color: #6dee0a;
}